.padding {
  padding-top: 10px;
  padding-left: 500px;
  padding-bottom: 10px;
  background-color: whitesmoke ;
}

.predict {
  padding-top: 10px;
  padding-left: 90px;
  padding-bottom: 10px;
  background-color: whitesmoke ;
}

.button {
  padding-top: 10px;
  padding-left: 80px;
  padding-bottom: 10px;
  background-color: whitesmoke ;
}

.img {
  padding-top: 10px;
  padding-left: 400px;
}

h3 {
  padding-left: 500px;
}

p {
  padding-left: 600px;
  padding-top: 200px;
  padding-bottom: 10px;
}